# Data Analysis with R
## Population Estimates using Python

### Initial Data Import & Analysis

In [3]:
import pandas as pd
import numpy as np
import os
import matplotlib

%matplotlib inline

In [5]:
#Import data

dir_path = os.path.join(os.path.pardir, "data", "interim")
train_file = os.path.join(dir_path,"population.csv")

train_df = pd.read_csv(train_file)

train_df.info()
train_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 17 columns):
Geographic Area    57 non-null object
Census             57 non-null object
Estimates Base     57 non-null object
2010               57 non-null object
2011               57 non-null object
2012               57 non-null object
2013               57 non-null object
2014               57 non-null object
2015               57 non-null object
2016               57 non-null object
2017               0 non-null float64
2018               0 non-null float64
2019               0 non-null float64
2020               0 non-null float64
2021               0 non-null float64
Unnamed: 15        0 non-null float64
Unnamed: 16        0 non-null float64
dtypes: float64(7), object(10)
memory usage: 7.6+ KB

       2017  2018  2019  2020  2021  Unnamed: 15  Unnamed: 16
count   0.0   0.0   0.0   0.0   0.0          0.0          0.0
mean    NaN   NaN   NaN   NaN   NaN          NaN          NaN
std     NaN   NaN   NaN   NaN   NaN          NaN          NaN
min     NaN   NaN   NaN   NaN   NaN          NaN          NaN
25%     NaN   NaN   NaN   NaN   NaN          NaN          NaN
50%     NaN   NaN   NaN   NaN   NaN          NaN          NaN
75%     NaN   NaN   NaN   NaN   NaN          NaN          NaN
max     NaN   NaN   NaN   NaN   NaN          NaN          NaN

In [6]:
train_dfadd

,Geographic Area,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 15,Unnamed: 16
0,.Alabama,"4,779,736","4,780,131","4,785,492","4,799,918","4,815,960","4,829,479","4,843,214","4,853,875","4,863,300",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,.Alaska,"710,231","710,249","714,031","722,713","731,089","736,879","736,705","737,709","741,894",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,.Arizona,"6,392,017","6,392,301","6,408,312","6,467,163","6,549,634","6,624,617","6,719,993","6,817,565","6,931,071",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,.Arkansas,"2,915,918","2,916,025","2,921,995","2,939,493","2,950,685","2,958,663","2,966,912","2,977,853","2,988,248",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,.California,"37,253,956","37,254,522","37,332,685","37,676,861","38,011,074","38,335,203","38,680,810","38,993,940","39,250,017",NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,.Colorado,"5,029,196","5,029,324","5,048,644","5,118,360","5,189,867","5,267,603","5,349,648","5,448,819","5,540,545",NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,.Connecticut,"3,574,097","3,574,114","3,579,899","3,589,893","3,593,795","3,596,003","3,591,873","3,584,730","3,576,452",NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,.Delaware,"897,934","897,936","899,816","907,924","916,993","925,395","934,948","944,076","952,065",NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,.District of Columbia,"601,723","601,766","605,183","620,477","635,327","649,165","659,005","670,377","681,170",NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,.Florida,"18,801,310","18,804,592","18,849,098","19,096,952","19,344,156","19,582,022","19,888,741","20,244,914","20,612,439",NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,.Georgia,"9,687,653","9,688,680","9,713,521","9,811,610","9,914,668","9,984,938","10,087,231","10,199,398","10,310,371",NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,.Hawaii,"1,360,301","1,360,301","1,363,945","1,377,864","1,391,820","1,406,481","1,416,349","1,425,157","1,428,557",NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,.Idaho,"1,567,582","1,567,650","1,571,010","1,584,143","1,595,911","1,612,011","1,633,532","1,652,828","1,683,140",NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,.Illinois,"12,830,632","12,831,574","12,841,578","12,860,012","12,870,798","12,879,505","12,867,544","12,839,047","12,801,539",NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,.Indiana,"6,483,802","6,484,136","6,490,528","6,516,480","6,537,743","6,569,102","6,595,233","6,612,768","6,633,053",NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,.Iowa,"3,046,355","3,046,869","3,050,738","3,065,223","3,076,310","3,091,930","3,108,030","3,121,997","3,134,693",NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,.Kansas,"2,853,118","2,853,129","2,858,850","2,869,503","2,885,262","2,892,821","2,899,360","2,906,721","2,907,289",NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,.Kentucky,"4,339,367","4,339,344","4,348,662","4,369,354","4,384,799","4,400,477","4,413,057","4,424,611","4,436,974",NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,.Louisiana,"4,533,372","4,533,479","4,544,996","4,575,404","4,603,429","4,626,402","4,647,880","4,668,960","4,681,666",NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,.Maine,"1,328,361","1,328,364","1,327,730","1,328,231","1,328,895","1,329,076","1,330,719","1,329,453","1,331,479",NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,.Maryland,"5,773,552","5,773,786","5,788,584","5,843,603","5,889,651","5,931,129","5,967,295","5,994,983","6,016,447",NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,.Massachusetts,"6,547,629","6,547,813","6,565,524","6,611,923","6,658,008","6,706,786","6,749,911","6,784,240","6,811,779",NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,.Michigan,"9,883,640","9,884,129","9,877,495","9,876,213","9,887,238","9,898,982","9,915,767","9,917,715","9,928,300",NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,.Minnesota,"5,303,925","5,303,924","5,311,147","5,348,562","5,380,285","5,418,521","5,453,109","5,482,435","5,519,952",NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,.Mississippi,"2,967,297","2,968,103","2,970,322","2,978,162","2,984,945","2,990,482","2,992,400","2,989,390","2,988,726",NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,.Missouri,"5,988,927","5,988,928","5,996,118","6,010,717","6,025,415","6,042,711","6,060,930","6,076,204","6,093,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,.Montana,"989,415","989,414","990,641","997,821","1,005,196","1,014,314","1,022,867","1,032,073","1,042,520",NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,.Nebraska,"1,826,341","1,826,334","1,830,051","1,842,283","1,855,725","1,868,559","1,881,145","1,893,765","1,907,116",NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,.Nevada,"2,700,551","2,700,691","2,703,284","2,718,379","2,752,565","2,786,464","2,833,013","2,883,758","2,940,058",NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,.New Hampshire,"1,316,470","1,316,461","1,316,872","1,318,473","1,321,182","1,322,687","1,328,743","1,330,111","1,334,795",NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,.New Jersey,"8,791,894","8,791,953","8,803,729","8,841,243","8,873,211","8,899,162","8,925,001","8,935,421","8,944,469",NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,.New Mexico,"2,059,179","2,059,198","2,064,756","2,077,756","2,083,784","2,085,193","2,083,024","2,080,328","2,081,015",NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,.New York,"19,378,102","19,378,110","19,402,640","19,519,529","19,602,769","19,673,546","19,718,515","19,747,183","19,745,289",NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,.North Carolina,"9,535,483","9,535,688","9,558,915","9,650,963","9,746,175","9,841,590","9,934,399","10,035,186","10,146,788",NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,.North Dakota,"672,591","672,591","674,526","685,476","702,087","724,019","739,904","756,835","757,952",NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,.Ohio,"11,536,504","11,536,727","11,540,983","11,544,824","11,550,839","11,570,022","11,594,408","11,605,090","11,614,373",NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,.Oklahoma,"3,751,351","3,751,615","3,759,603","3,786,274","3,817,054","3,852,415","3,877,499","3,907,414","3,923,561",NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,.Oregon,"3,831,074","3,831,072","3,838,048","3,868,031","3,899,116","3,925,751","3,968,371","4,024,634","4,093,465",NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,.Pennsylvania,"12,702,379","12,702,857","12,712,343","12,744,293","12,771,854","12,781,338","12,790,565","12,791,904","12,784,227",NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,.Rhode Island,"1,052,567","1,052,940","1,053,337","1,052,451","1,052,901","1,053,033","1,054,480","1,055,607","1,056,426",NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,.South Carolina,"4,625,364","4,625,410","4,635,943","4,672,637","4,720,760","4,767,894","4,828,430","4,894,834","4,961,119",NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,.South Dakota,"814,180","814,195","816,325","824,398","834,441","844,922","852,561","857,919","865,454",NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,.Tennessee,"6,346,105","6,346,298","6,356,671","6,397,634","6,454,306","6,494,821","6,544,663","6,595,056","6,651,194",NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,.Texas,"25,145,561","25,146,100","25,244,310","25,646,389","26,071,655","26,473,525","26,944,751","27,429,639","27,862,596",NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,.Utah,"2,763,885","2,763,888","2,775,326","2,816,124","2,855,782","2,902,663","2,941,836","2,990,632","3,051,217",NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,.Vermont,"625,741","625,741","625,982","626,730","626,444","627,140","626,984","626,088","624,594",NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,.Virginia,"8,001,024","8,001,041","8,025,773","8,110,035","8,192,048","8,262,692","8,317,372","8,367,587","8,411,808",NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,.Washington,"6,724,540","6,724,545","6,743,226","6,822,520","6,895,226","6,968,006","7,054,196","7,160,290","7,288,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,.West Virginia,"1,852,994","1,853,011","1,854,230","1,854,972","1,856,560","1,853,231","1,848,514","1,841,053","1,831,102",NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,.Wisconsin,"5,686,986","5,687,289","5,690,263","5,709,640","5,726,177","5,742,854","5,758,377","5,767,891","5,778,708",NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,.Wyoming,"563,626","563,767","564,513","567,725","576,765","582,684","583,642","586,555","585,501",NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,Puerto Rico,"3,725,789","3,726,157","3,721,525","3,678,732","3,634,488","3,593,077","3,534,874","3,473,181","3,411,307",NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,Northeast,"55,317,240","55,318,353","55,388,056","55,632,766","55,829,059","55,988,771","56,116,791","56,184,737","56,209,510",NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,Midwest,"66,927,001","66,929,825","66,978,602","67,153,331","67,332,320","67,543,948","67,726,368","67,838,387","67,941,429",NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,South,"114,555,744","114,563,005","114,863,114","116,061,801","117,299,171","118,424,320","119,696,311","121,039,206","122,319,574",NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,West,"71,945,553","71,946,922","72,118,421","72,815,460","73,537,829","74,247,869","75,023,986","75,834,288","76,657,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,United States,"308,745,538","308,758,105","309,348,193","311,663,358","313,998,379","316,204,908","318,563,456","320,896,618","323,127,513",NaN,NaN,NaN,NaN,NaN,NaN,NaN